* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: sans-serif;


}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url(hackerimage.png);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 54%;
    z-index: -1;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;

    @media (min-width: 640px) {
        .container {
            max-width: 640px
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 768px
        }
    }

}



nav {
    height: 4.7rem;
    background-image: linear-gradient(-45deg, #30cfd0 0%, #782fd2d9 100%);
    z-index: -1;
}

li {
    float: right;
    padding: 0px 0.8rem;
    padding-top: 1.3rem;
}

.mainstructure {
    background-image: linear-gradient(-45deg, #116c91 0%, #330867 100%);
}

.container2 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 54%;
    z-index: -1;
    background-image: linear-gradient(45deg, #116c91 0%, #330867 100%);
}

h1 {
    height: 6rem;

    z-index: 0;
    width: 12.5rem;
}

.heading {
    mix-blend-mode: darken;
    transform: rotateY(20deg);
}

nav ul li {
    display: inline-block;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
}

.element {

    border: 2px sollid black;
    margin-top: 2rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
    margin-left: 2.5rem;
    padding: 0;
}

span {
    width: 10rem;
}

.writtingtext {
    height: 20rem;
    margin-top: 10rem;
    width: 28rem;
    margin-left: 10rem;
    position: absolute;

}

.box1 {
    margin-left: 3rem;
    width: 25rem;
    height: 25rem;
    border: 2px solid white;
    margin-top: 13rem;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
    border: none;
    scroll-snap-align: end;
    padding: 1rem;

}

.box2 {
    width: 25rem;
    height: 25rem;
    border: 2px solid white;
    margin-top: 13rem;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 9px 70px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
    border: none;
    scroll-snap-align: end;
    padding: 1rem;

}

.box3 {

    width: 25rem;
    height: 25rem;
    border: 2px solid white;
    margin-top: 13rem;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 9px 70px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
    border: none;
    scroll-snap-align: end;
    padding: 1rem;

}

.box4 {

    width: 25rem;
    height: 25rem;
    border: 2px solid white;
    margin-top: 13rem;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 9px 70px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
    border: none;
    scroll-snap-align: end;
    padding: 1rem;

}

.box5 {
    width: 25em;
    height: 25rem;
    border: 2px solid white;
    margin-top: 13rem;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 9px 70px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
    border: none;
    scroll-snap-align: end;
    padding: 1rem;


}

box2:hover {
    transform: translateX(30rem);
}

.mainbox {
    scrollbar-color: red;
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.mainbox video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-y: hidden;
    visibility: hidden;

}

nav ul li:hover {
    text-decoration-line: underline;
    text-decoration-color: #330867;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    transform: translateX(3px);
    transform: translateY(2px);
    transition: ease-out 0.3s;
}

.logo_image {
    mix-blend-mode: transparent;
    border-radius: 10px;
    width: 80px;
    margin-left: 0.3rem;
    margin-bottom: 0.1rem;

}

.logocaption {
    padding-top: 1rem;
}

.logo {
    display: flex;
}

.boxes {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 31%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    perspective: 1000px;
}

.box:hover {
    scrollbar-width: none;
}

.box1:hover {
    transition: all 0.4s ease-out;
    transform: rotateY(10deg) scale(1.2);

}

.box2:hover {
    transition: all 0.4s ease-out;
    transform: rotateY(10deg) scale(1.2);

}

.box3:hover {
    transition: all 0.4s ease-out;
    transform: scale(1.2);

}

.box4:hover {
    transition: all 0.4s ease-out;
    transform: rotateY(-10deg) scale(1.2);

}

.box5:hover {
    transition: all 0.4s ease-out;
    transform: rotateY(-10deg) scale(1.2);

}

.element2 {
    text-align: center;
    height: 3.5rem;
    padding-top: 1rem;
    color: black;
    font-weight: 800;
    margin-left: 2.5rem;
    padding: 0;
    font-size: 2.5rem;
    color: white;

}

.container4 {
    padding: 2rem 0rem;
    background: linear-gradient(45deg, #116c91 0%, #330867 100%);
    height: 100%;
}

.photos {
    display: flex;
    justify-content: space-evenly;

}

.photo1 {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(vanshphoto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1rem solid white;
    grid-row: 1 / 2;
    justify-self: center;
}

.photo2 {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(pranavphoto.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border: 1rem solid white;
    justify-self: center;


}

.photo1container {
    width: 23rem;
    height: 30rem;
    border-radius: 1.4rem;
    background-color: white;
    display: grid;
    grid-template-rows: 77% 30%;
    row-gap: 2px;
    margin: 10em 10em;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 9px 70px rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    border: none;
}

.vanshinfo {
    padding-left: 3rem;
    font-weight: 700;
    color: black;
    font-family: monospace;
    font-size: 20px;

}

.photo2container {
    width: 23rem;
    height: 30rem;
    border-radius: 1.4rem;
    background-color: white;
    display: grid;
    grid-template-rows: 77% 30%;
    row-gap: 2px;
    margin: 10em 10em;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 9px 70px rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    border: none;
}

.pranavinfo {
    padding-left: 2.5rem;
    font-weight: 700;
    color: black;
    font-family: monospace;
    font-size: 20px;

}

.container3 {
    height: 100vh;
    background: linear-gradient(-45deg, #116c91 0%, #330867 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
}

.startbutton button {
    height: 5rem;
    width: 10em;
    background-color: orangered;
    text-align: center;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bolder;
    font-family: monospace;
    border: none;
}

.createquize button {
    height: 5rem;
    width: 15rem;
    background-color: orangered;
    text-align: center;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bolder;
    font-family: monospace;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
}



.logocaption {
    font-weight: 800;
    color: white;
    font-family: sans-serif;
    font-size: 1.875rem;
    padding-bottom: 10px;


}

.boxcontent {
    font-size: 1.25rem;
    font-weight: 700;
}

.insheading {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.buuttons {
    display: flex;
    justify-content: space-evenly;
    gap: 19rem;
}

.menu img {
    border: none;
    filter: drop-shadow(7px 39px 27px rgba(0, 0, 0, 0.7));
    border-radius: 1rem;
}

footer {
    height: 20rem;
    background: #2196f3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #f44336, #2196f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #f44336, #2196f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.socialmediaicon {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 0rem;
    column-gap: 13px;


}

.socialmediaicon2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 3rem;
    column-gap: 20px;


}

.socialmediaicon img {
    border-radius: 5px;
}

.socialmediaicon2 img {
    border-radius: 5px;
}

.instagramvansh {
    padding: 0px 10px;
    padding-top: 10px;
    transform: scale(1.4);
}

.gitvansh {
    transform: scale(0.8);
    margin-top: -1.6px;
}

.instagrampranav {
    padding-top: 10px;
    transform: scale(1.4);
}

.gitpranav {
    transform: scale(0.8);
    margin-top: -1.6px;
}

.brandname {
    padding-top: 1rem;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
}

.down_class {
    display: flex;
    justify-content: space-between;
    color: white;
}

.home {
    display: inline-block;
    color: white;

}

.dropdownonline {
    display: flex;
    justify-content: space-between;
    color: white;

}

.orderonline {
    display: inline-block;
    color: white;

}

.orderonline :hover .dropdownonline {
    display: block;
    color: white;


}

.left {
    color: white;
    margin-left: 10px;
    padding-top: 30px;
    font-size: larger;
    font-weight: 600;


}

.left2 {
    font-size: larger;
    padding-top: 30px;
    font-weight: 600;




}

.right {
    font-weight: 600;
    gap: 10px;
}

.emailinput h5 {
    font-weight: 600;
    margin-top: 10px;
    margin-right: 10px;

}

.emailinput {
    font-weight: 600;


}

.emailinput1 {
    border-radius: 10px;
    height: 2.5rem;
    padding-right: 5px;
    text-align: center;

}

.socialmedia img {
    border-radius: 5px;

}

.writing4 {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: white;
}